extends ./layouts/default
block variables
    - var title = "Bulletin-Board.de";

block styles
    link(rel="stylesheet" href="css/ioio.css")

block scripts
    script(src='js/app.js')

block content

    canvas(id="canvas")
    h1(class="title") Bulletin Board
    #terminal
        .print <b>Bulletin Board CLI</b> - simple web based command line interface.<br>Type 'help' for more information.
        #cli
            span.label
            span#prompt
    .ribbon
        a(href="https://github.com/IOIO72/TinyCLI") Fork me on GitHub
