extends ./layouts/default
block variables
    - var title = "ioioPen";

block styles
    link(rel="stylesheet" href="css/ioio.css")

block scripts
    script(src='js/app.js')

block content

    h1 TinyCLI
    #terminal
        .print <b>TinyCLI</b> - simple web based command line interface.<br>Type 'help' for more information.
        #cli
            span.label
            span.prompt
